<% layout('layouts/boilerplate')%>
    <h1>ALL EMPLOYEES</h1>
<ul> 
<form action="/employs/new">
<button>New Employ</button>
</form>

<% for(let employ of employs){ %>

<li><a href="/employ/<%=employ._id%>"><%=employ.name%></a> </li>

<% } %>  
</ul>
