<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ALL EMPLOYEES</h1>
<ul> 
<form action="/employs/new">
<button>New Employ</button>
</form>

<% for(let employ of employs){ %>

<li><a href="/employ/<%=employ._id%>"><%=employ.name%></a> </li>

<% } %>  
</ul>
</body>
</html>

